@charset "utf-8";
*{margin: 0px;}

.img-box{
    position: relative;
    width: 100%;
    margin: 0 auto;}

.img-box img {
    max-width: 100%;
}

img {
    display: block;
    height: 100%;
    border: 0;
    object-fit: cover;
}